.wrapper {
  position: relative;
  top: 40px;
}

.button {
  padding: 10px;
  border: #7f0b7d 3px solid;
  border-radius: 20px;
  background-color: white;
  color: #7f0b7d;
  font-size: 24px;
  font-weight: 700;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #ffc798;
  color: white;
  -webkit-text-stroke: 1.5px #7f0b7d ;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.button:active {
  transform: scale(1);
}