.playerWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
        margin: 10px 5px 0;
        animation: move 2s ease-in-out infinite;
    }
}

@media screen and (max-width: 600px) {
    .playerWrapper {
        font-size: 20px;

        img {
            width: 100px;
        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
