.wrapper {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  -webkit-text-stroke: 1.5px #7f0b7d;

  & .title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;

    & img {
      width: 150px;
      height: 150px;
    }

    & .name {
      font-size: 36px;
      width: 250px;
      text-overflow: ellipsis;
    }
  }

  & .scoreWrapper {
    width: 150px;
    height: 150px;
    border: #7f0b7d 3px solid;
    border-radius: 15%;
    background-color: ivory;
    font-size: 26px;
    font-weight: 600;
    color: #ffc798;

    & .score {
      position: relative;
      margin-top: 10%;
      font-size: 40px;
      font-weight: 700;
    }

  }
}

