.wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 100px;

    .imageContainer {
        transition-duration: 1s;

        img {
            width: 150px;
            height: 150px;
            animation: move 1.5s ease-in-out infinite;
            transition-duration: 1s;

            &:hover {
                animation-play-state: paused;
            }
        }
    }

    .block:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
    }

}

@media screen and (max-width: 600px) {
    .wrapper {
        .imageContainer {
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
