.wrapper {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1.5px #7f0b7d ;
}


